
@{
    ViewBag.Title = "ZoneList";
}

<option value="">請選擇區域</option>
@if (ViewBag.ZoneList != null)
{
    foreach (var item in ViewBag.ZoneList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}